/* Global settings */

:root {
  --header-text-color: #ffffff;
  --button-first-color: #ffffff;
  --button-second-color: #303030;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
  --first-text-color: #303030;
  --hero-margin: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 5px solid greenyellow;
}

/* Header settings */

.header {
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  background-color: rgba(99, 86, 86, 0.459); /* ВРЕМЕННО! */
}

.navigation {
  display: flex;
}

.header-list {
  display: flex;
}

.header-link {
  color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link-tel {
  color: var(--header-text-color);
}

.header-btn {
  font-family: inherit;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--button-first-color);
  background-color: transparent;
}

.header-btn:hover,
.header-btn:focus,
.header-link-tel:hover,
.header-link-tel:focus {
  color: var(--accent-color);
}

/* Hero section */

.hero {
  background-color: rgba(218, 255, 10, 0.616); /* ВРЕМЕННО! */
  /* Добавить верхний и нижний padding  */
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--first-text-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--hero-margin);
}

.hero-title {
  margin-bottom: var(--hero-margin);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: #ffffff;
}

.hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* About section*/

.about {
  padding-top: 130px;
  padding-bottom: 130px;
}

.about-pre-title {
  margin-bottom: var(--hero-margin);

  color: var(--second-title-color);
}

.about-title {
  margin-bottom: var(--hero-margin);

  color: var(--first-text-color);
}

.about-after-title {
  margin-bottom: var(--hero-margin);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--button-second-color);
}

.about-btn:hover,
.about-btn:focus {
  color: var(--accent-color);
}

/* Prices section */

.prices {
  padding-top: 130px;
  padding-bottom: 130px;

  background-color: grey;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--hero-margin);
}

.prices-title {
  margin-bottom: 44px;
  color: var(--first-title-color);
}

.prices-list__box {
  margin-bottom: 50px;
}

.prices-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--button-first-color);
  background-color: transparent;
}

.prices-btn:hover,
.prices-btn:focus {
  color: var(--accent-color);
}

/* Reasons section */

.reasons {
  padding-bottom: 130px;
  padding-top: 130px;
}

.reasons-count {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--first-text-color);
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: var(--first-text-color);
}

.reasons-pre-title {
  color: var(--second-title-color);
  margin-bottom: var(--hero-margin);
}

.reasons-title {
  color: var(--second-title-color);
  margin-bottom: var(--hero-margin);
}

.reasons-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/* Masters section */

.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}

.masters-pre-title {
  margin-bottom: var(--hero-margin);
  color: var(--second-title-color);
}

.masters-title {
  margin-bottom: 44px;
  color: var(--second-title-color);
}

.masters-item-title {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.masters-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.masters-img {
  margin-bottom: 30px;
}

.masters-item-box {
  margin-bottom: 30px;
}

/* Galery sections  */

.galery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.galery-pre-title {
  margin-bottom: 44px;
  color: var(--second-title-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Pre-footer section */

.pre-footer {
  padding-top: 130px;
  padding-bottom: 130px;
}

/* Appointment section */

.online-appointment {
  background-color: grey;
}

.online-appointment-title {
  color: var(--first-title-color);
}

/* Contacts-section */
.contacts {
  background-color: gray;
}

.contacts-title {
  margin-bottom: 40px;
  color: var(--first-title-color);
}

.contacts-list {
  margin-bottom: 120px;
}

.contacts-link,
.contacts-text {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-pre-title {
  color: var(--header-text-color);
  margin-bottom: var(--hero-margin);
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* Footer section */

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--first-text-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
