.contacts-wrapper {
  margin-left: 100px;
}

.contacts-title {
  margin-bottom: 40px;
  color: var(--first-title-color);
}

.contacts-list {
  margin-bottom: 120px;
}

.contacts-link,
.contacts-text {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-link-mail {
  text-decoration: underline;
}

.contacts-pre-title {
  color: var(--header-text-color);
  margin-bottom: var(--hero-margin);
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
