.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero__container {
  display: flex;
}

.container__reasons {
  display: flex;
  justify-content: space-between;
}

.container__pre-footer {
  display: flex;
}

.container__footer {
  display: flex;
  align-items: center;
}
